{% load static %}
<style>
    .media {
        padding: 0 8%;

        margin-bottom: 150px;
        position: relative;
    }
    @media screen and (min-width: 1600px) {
        .media {
            padding: 0 16%;
        }
    }
    .media .top {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        align-items: center;
    }
    .media .top h2 {
        font-size: 35px;
        font-weight: bold;
        color: #000;
        margin-bottom: 40px;
        float: right;
    }
    .media .top .sort {
        text-align: left;
    }
    .media .top a{
        padding: 0 10px;
        border-right: 1px solid #C11221;
        text-decoration: none;
        color: #C11221;
        font-size: 16px;
    }
    .media .top a:hover {
        color: #2d2d2d;
    }

    .media .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        clear: both;
        text-align: center;
    }

    .media .bottom .card {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        cursor: pointer;
        overflow: hidden;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 15px;

    }
    .media .bottom hr {
        margin: 10px 0;
        border: none;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.443);
        width: 80%;
    }

    .media .bottom .card:hover .thump img {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
        filter: brightness(80%) grayscale(100%);
    }
    .media .bottom .card .left {
        padding: 10px 10px 20px 10px;
        margin-top: -10px;
    }
    .media .bottom .thump {
        height: 170px;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .media .bottom .thump img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: inline;
        -webkit-transition: 1s ease;
        transition:1s ease;
        filter: brightness(80%);

    }
    .media .bottom .play {
        width: 40px;
        background-color: #C11221;
        border-radius: 50%;
        margin-top: -20px;
        display: inline;
        position: relative;
        z-index: 5;
        box-shadow: rgba(121, 121, 121, 0.35) 0px 5px 15px;
        
    }
    .media .bottom h3 {
        font-size: 16px;
        color: #000;
        font-weight: bold;
        margin-top: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }
    .media .bottom .logo {
        width: 8px;
        margin: auto;
        margin-top: 5px;
        display: block;
    }
    .media .bottom p {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.713);
        font-weight: bold;
        margin-top: 5px;
    }


</style>

<div class="media">
    <div class="top">
        <h2>ميديا السويحلي</h2>
        <div class="sort">
            <a href="">الملخصات</a>
            <a href="">الآرشيف</a>
            <a href="">لقاءات إعلامية</a>
            <a href="">الطائرة</a>
        </div>
    </div>

    <div class="bottom">
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/386691699_714501297388916_6783386127273726806_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mbD6uuQPpoEAX_utIwl&_nc_ht=scontent.fmji2-2.fna&oh=00_AfDA_69tgs_xIaLBNHCHTDLhKLH88Yek22s94iHIQkWzSg&oe=6534AE7B" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="{% static 'images/thum1.jpg' %}" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/376879487_708583397980706_6763798955867679505_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=GvcmeP2fdhEAX_MM01u&_nc_ht=scontent.fmji2-1.fna&oh=00_AfAbuMnkMgXtJ5G-EI3FtvviWzAj7WSfcBTOUXff8sRCgQ&oe=65349202" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="{% static 'images/thum1.jpg' %}" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/386691699_714501297388916_6783386127273726806_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mbD6uuQPpoEAX_utIwl&_nc_ht=scontent.fmji2-2.fna&oh=00_AfDA_69tgs_xIaLBNHCHTDLhKLH88Yek22s94iHIQkWzSg&oe=6534AE7B" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="{% static 'images/thum1.jpg' %}" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/376879487_708583397980706_6763798955867679505_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=GvcmeP2fdhEAX_MM01u&_nc_ht=scontent.fmji2-1.fna&oh=00_AfAbuMnkMgXtJ5G-EI3FtvviWzAj7WSfcBTOUXff8sRCgQ&oe=65349202" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="{% static 'images/thum1.jpg' %}" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/386691699_714501297388916_6783386127273726806_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mbD6uuQPpoEAX_utIwl&_nc_ht=scontent.fmji2-2.fna&oh=00_AfDA_69tgs_xIaLBNHCHTDLhKLH88Yek22s94iHIQkWzSg&oe=6534AE7B" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="{% static 'images/thum1.jpg' %}" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/376879487_708583397980706_6763798955867679505_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=GvcmeP2fdhEAX_MM01u&_nc_ht=scontent.fmji2-1.fna&oh=00_AfAbuMnkMgXtJ5G-EI3FtvviWzAj7WSfcBTOUXff8sRCgQ&oe=65349202" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
        <div class="card">
            <div class="right">
                <div class="thump">
                    <img src="{% static 'images/thum1.jpg' %}" alt="">
                </div>
                <img src="{% static 'images/play.png' %}" alt="" class="play">
            </div>
            <div class="left">
                <h3>ملخص مباراة السويحلي والأهلي بنغازي - الجولة 12 من الدوري 2007</h3>
                <img src="{% static 'images/Slogo.png' %}" alt="" class="logo">
                <p>منذ 3 ساعات</p>
            </div>
        </div>
    </div>
</div>