
   <style>

* {
        margin: 0;
        padding: 0;
    } 

        .hero {
            height: 100vh;
            direction: rtl;
            text-align: right;
            padding: 0 8%;
            display: flex;
            justify-content: center;
        }

    
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.604);
        }
        .hero img {
            width: 100%;
            height: 100vh;
            -o-object-fit: cover;
            object-fit: cover;
            filter: brightness(40%) grayscale(40%);
        }
        
        .hero-content {
            z-index: 1;
            margin: auto;
        }
        
        .hero-content h6 {
            font-size: 18px;
            color: rgb(255, 255, 255);
            font-weight: 700;
            margin-bottom: 20px;
        }
        .hero-content h1 {
            font-size: 40px;
            margin-bottom: 20px;
            color: #fff;
            font-weight: 700;
            line-height: 1.4;
            width: 80%;
            display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        }
        
        .hero-content p {
            font-size: 16px;
            margin-bottom: 30px;
            width: 60%;
            color: rgba(255, 255, 255, 0.689);
            font-weight: 300;
            line-height: 2;
            line-height: 1.8;
            display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        }
        .hero-content .btn-3 {
            border: 1px solid #fff;
            transition: all 0.3s ease;
            border-radius: 10px;
            color: #fff;
            background: none;
            position: relative;
            z-index: 5;
            width: 155px;
            margin: auto;
            padding: 15px 0;
            display: block;
            cursor: pointer;
            font-size: 13px;
            font-family: 'Almarai', sans-serif;
            float: right;
        }
        .hero-content .btn-3:hover {
            width: 160px;
            border: 1px solid #C11221;
            color: #fff;
            background-color: #C11221;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }






    @media screen and (min-width: 1600px) {
        .hero {
            padding: 0 16%;

        }
    }


    @media screen and (max-width: 1200px) {

        .hero {
            padding: 0 5%;
            height: 90vh;
        }
        .overlay {
            height: 90vh;
        }
        .hero img {
            height: 90vh;
        }
        
        .hero-content h1 {
            font-size: 40px;
            width: 90%;
        -webkit-line-clamp: 4;
        }
        
        .hero-content p {
            font-size: 16px;
            width: 80%;
            -webkit-line-clamp: 2;
        }
    }

    @media screen and (max-width: 628px) {
        .hero-content h1 {
            font-size: 25px;
            width: 95%;
            -webkit-line-clamp: 4;
        }
        
        .hero-content p {
            font-size: 16px;
            width: 90%;
            -webkit-line-clamp: 2;
        }
    }


    @media screen and (max-height: 550px) {
        .hero {
            height: 95vh;
        }
        .overlay {
            height: 95vh;
        }
        .hero img {
            height: 95vh;
        }
        .hero-content h1 {
        -webkit-line-clamp: 3;
        }
}


   </style>
    <div class="hero">
        {% for obj in hero|slice:":1" %}
        <div class="overlay"><img src="/media/{{obj.image}}/" alt=""></div>
        <div class="hero-content">
            <h6>SSC</h6>
            <h1>{{obj.title}}</h1>
            <p>{{obj.text}}</p>
            <a onclick="openLoaderPage()" hx-get="{% url 'newsDetail' obj.id %}"><button class="btn-3">قراءة المزيد</button></a>
        </div>
        {% endfor %}
    </div>
