{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .latest { 
        padding: 0 8%;
        margin-bottom: 150px;
        position: relative;
    }
    @media screen and (min-width: 1600px) {
        .latest {
            padding: 0 16%;
        }
    }
    .latest h2 {
        font-size: 35px;
        font-weight: bold;
        color: #000;
        margin-bottom: 40px;
        float: right;
    }
    .latest .btn-3 {
    background: #C11221;
    transition: all 0.3s ease;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 5;
    width: 155px;
    margin: auto;
    padding: 15px 0;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 13px;
    float: left;
    font-family: 'Almarai', sans-serif;

    }
    .latest .btn-3:hover {
        width: 160px;
        background: #C11221;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .latest .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        clear: both;
    }
    .latest a {
        text-decoration: none;
    }
    .latest .card {
        border-radius: 12px;
        cursor: pointer;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .3s ease-in-out;
        
    }
    .latest .card:hover {
        transform: scale(1.03);
        border-bottom: 4px solid #C11221;
    }
    .latest .card .top {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .latest .img img {
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 250px;
        object-fit: cover;
        filter: brightness(90%) grayscale(10%);
    }
    .latest .info {
        padding: 10px 20px 20px 20px;
    }
    .latest .info img {
        width: 18px;
        display: inline;
        margin-left: 5px;
    }
    .latest .info h6 {
        font-size: 15px;
        color: #C11221;
        font-weight: 500;
        display: inline;
        margin-left: 5px;
    }
    .latest .info p {
        font-size: 12px;
        color: #666;
        font-weight: 300;
        display: inline;
    }
    .latest .info h3 {
        font-size: 18px;
        color: #000;
        font-weight: bold;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

</style>


<div class="latest">
    <h2>آخر الأخبار المتعلقة بالنادي</h2>
    <a href="{% url 'news' %}"><button class="btn btn-3">عرض المزيد</button></a>
    <div class="cards">

        <a href="{% url 'newsDetail' %}">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/392864799_721224886716557_889377659395130590_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=4vCWMV_nXiUAX95ki42&_nc_ht=scontent.fmji2-1.fna&oh=00_AfDRyQCQsv8-XmBcCuayY2x7ivSmiA5Ev3uahAWEdWyghg&oe=653ACAD2" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>نشاطات</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>زيارة أعضاء الإدارة والطاقم الفني للناشط السابق للنادي</h3>

                </div>
            </div>
        </a>

        <a href="{% url 'newsDetail' %}">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/392793806_721224643383248_688576503305398_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=rn35xXjOZDgAX8egKbS&_nc_ht=scontent.fmji2-1.fna&oh=00_AfCMnrqcZRrMV7khHBGl5shdqD2rv3YfWZtD9FOFlsZdoQ&oe=653C6AD7" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>استعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>وصول بعثة فريق الطائرة إلى مطار القاهرة</h3>
                </div>
            </div>
        </a>


        <a href="{% url 'newsDetail' %}">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/393172750_722052769967102_8134003078689556262_n.jpg?stp=dst-jpg_p960x960&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=lDpr4A5m4Y0AX9aPNP6&_nc_ht=scontent.fmji2-2.fna&oh=00_AfAQc1OiKIuWrHN0CtjvA8y8R4DWS6AIq54HYOvgTLugpw&oe=653C657C" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>استعدادت</h6>
                        <p>3 أيام مضت</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>


        <a href="{% url 'newsDetail' %}">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/393357595_722702566568789_12754013294241810_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=AyN4yeYL4y4AX-J2jFr&_nc_ht=scontent.fmji2-1.fna&oh=00_AfC8zOcE6DGtoTL5E23W70S83l5qFc2hvDfx9jp6iUEHAA&oe=653C02DC" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>استعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>

        <a href="{% url 'newsDetail' %}">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/392948257_723758499796529_9195579234308961568_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=6PdQTMpoMrgAX-0qrDj&_nc_oc=AQnZRWivM4olAZq1NmTtQpUtePWwROPHXo2kn0wTHPDpZKkqgVNlYHEpn49wAoU2k8E&_nc_ht=scontent.fmji2-2.fna&oh=00_AfAOXFgyD6yj8feRMff9CCchceVBDHbimmrwzV4OfHUm8g&oe=653AC511" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>استعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>
      
        <a href="{% url 'newsDetail' %}">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/394520187_723369019835477_557172719512232418_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=NmSVHj2YqK8AX-rDeig&_nc_ht=scontent.fmji2-2.fna&oh=00_AfA2b7iGQQdhAwxQ1mqpgv0r3jrLJxjAPykl8KyZFAytXA&oe=653BE732" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>استعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>

    </div>
</div>