{% load static %}
<style>
    .about {
        padding: 0 8%;
        position: relative;
        z-index: 4;
        margin-bottom: 150px;
        margin-top: -60px;

    }

    @media screen and (min-width: 1600px) {
        .about {
            padding: 0 16%;
            margin-top: -240px;
        }
        .about .card {

        }
    }
    .about .card {
        display: grid;
        grid-template-columns: 1fr 25fr;
        gap: 50px;
        align-items: center;
        padding: 10px 50px;
        border-radius: 20px;
        background-color: #fff;
        min-height: 250px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
    }

    .about .card .image{

    }
    .about .card .image img {
        width: 35px;
    }
    .about .card .text p {
        font-size: 16px;
        color: #666;
        font-weight: 400;
        text-align: justify;
        line-height: 2;
    }

    @media screen and (max-width: 1200px) {
    .about {
        padding: 0 5%;
    }
    .about .card {
        padding: 30px;
        gap: 30px;
    }

    }

    @media screen and (max-width: 628px) {
    .about {
        padding: 0 5%;
        margin-bottom: 100px;
    }
    .about .card {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px 20px 40px 20px;
    }
    .about .card .image img {
        width: 30px;
    }
    .about .card .text p {
        font-size: 14px;
    }

    }
</style>

<div class="about">

    <div class="card">
        <div class="image">
            <img src="{% static 'images/Slogo.png' %}" alt="">
        </div>
        <div class="text">
            <p>تأسس نادي السويحلي بتاريخ 11 مايو 1944 تحت اسم نادي العمّال، وسنة 1945 تغير الاسم إلى نادي الإصلاح،وكانت تلك الفترة غير مستقرة ولا توجد أنشطة في المدينة عدا بعض المباريات التي خاضها نادي العمال أولاً والإصلاح ثانياً مع بعض الفرق الإيطالية والانجليزية وبعض الفرق من طرابلس.. فتوقفت الحركة الرياضية عديد المرات إلى أن جاءت سنة 1951 وفيها تم تغيير اسم النادي إلى (الأهلي المصراتي) وتحديدا بتاريخ 17 سبتمبر 1951، واعتمد هذا التاريخ ليكون تاريخ تأسيس النادي.. وكانت أول لجنة إدارية للنادي متكونة من: المرحوم (مفتاح الخراز) رئيساً للنادي، والمرحوم (محمود السباعي) رئيساً شرفياً، والمرحوم (عبدالهادي الفيتوري) سكرتارياً، و(سليمان القبي) عضواً.</p>
        </div>
    </div>

</div>