<style>
    .about {
        padding: 0 8%;
        position: relative;
        z-index: 4;
        margin-bottom: 150px;
    }

    @media screen and (min-width: 1600px) {
        .about {
            padding: 0 16%;
            margin-top: -240px;
        }
        .about .card {

        }
    }
    .about .card {
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        margin-top: -60px;
        background-color: #fff;
        height: 250px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: center;
    }
    .about .card h2 {
        display: block;
        margin: auto;
        font-size: 35px;
        color: #C11221;

    }
</style>

<div class="about">
    <div class="card">
        <h2>...</h2>
    </div>
</div>