{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .latest { 
        padding: 0 8%;
        margin-bottom: 150px;
        position: relative;
    }
    .latest h2 {
        font-size: 35px;
        font-weight: bold;
        color: #000;
        margin-bottom: 40px;
        float: right;
    }
    .latest .btn-3 {
    background: #e71515;
    transition: all 0.3s ease;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 5;
    width: 155px;
    margin: auto;
    padding: 15px 0;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 13px;
    float: left;
    font-family: 'Almarai', sans-serif;

    }
    .latest .btn-3:hover {
        width: 160px;
        background: #e71515;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .latest .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        clear: both;
    }
    .latest a {
        text-decoration: none;
    }
    .latest .card {
        border-radius: 12px;
        cursor: pointer;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .3s ease-in-out;
    }
    .latest .card:hover {
        transform: scale(1.03);
    }
    .latest .card .top {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .latest .img img {
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 250px;
        object-fit: cover;
        filter: brightness(90%) grayscale(10%);
    }
    .latest .info {
        padding: 10px 20px 20px 20px;
    }
    .latest .info img {
        width: 18px;
        display: inline;
        margin-left: 5px;
    }
    .latest .info h6 {
        font-size: 15px;
        color: #e71515;
        font-weight: 500;
        display: inline;
        margin-left: 5px;
    }
    .latest .info p {
        font-size: 12px;
        color: #666;
        font-weight: 300;
        display: inline;
    }
    .latest .info h3 {
        font-size: 18px;
        color: #000;
        font-weight: bold;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>


<div class="latest">
    <h2>آخر الأخبار المتعلقة بالنادي</h2>
    <button class="btn btn-3">عرض المزيد</button>
    <div class="cards">

        <a href="">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/387111340_715261143979598_8726381305925464647_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=aY5Carkdu5oAX_Du-4S&_nc_ht=scontent.fmji2-2.fna&oh=00_AfBVA1eB81PbtSV7MYwMW5GJq9PFSEsTV1DHo6rf9zZIcg&oe=65356274" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>الاستعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>

        <a href="">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/392858352_721225270049852_6999241276085406074_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=62Rn4BEpnaIAX9jyJ0J&_nc_ht=scontent.fmji2-1.fna&oh=00_AfAAZNe9rsxeAtc3jEKFKYd76AQqtbFv635kR3_oCgNK7A&oe=65345802" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>الاستعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>


        <a href="">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/387185759_717762157062830_6809199062813754504_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=owJJprKq4Z4AX8K_Y2E&_nc_ht=scontent.fmji2-1.fna&oh=00_AfA64S4lHCPdpoXeLB24yd-8PUKQu7HhwVfkOf0QuWmizQ&oe=6534BEAC" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>الاستعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>


        <a href="">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/391649475_721258836713162_6384069382346345326_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=cNFEdu_18E0AX9lHl9p&_nc_ht=scontent.fmji2-2.fna&oh=00_AfB74vU-bx3NDefbvtgZbIzhDvSwDyfpDCaKz0RvO6kt1g&oe=6533FEB4" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>الاستعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>

        <a href="">
            <div class="card">
                <div class="img">
                    <img src="https://scontent.fmji2-1.fna.fbcdn.net/v/t39.30808-6/392932316_721258753379837_7298204540713439693_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=W2yo7JU6YH0AX_KpFR-&_nc_ht=scontent.fmji2-1.fna&oh=00_AfBU5rc_vsQoX8pd_kL3QD4iQwEN5nqUgRKOamOOsfxLhg&oe=65354A80" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>الاستعدادت</h6>
                        <p>منذ يومين</p>
                    </div>
                    <h3>الحصة التدريبية قبل مواجهة الاتحاد المرتقبة</h3>
                </div>
            </div>
        </a>
      
       

    </div>
</div>