{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .latest { 
        padding: 0 8%;
        margin-bottom: 150px;
        position: relative;
    }
    @media screen and (min-width: 1600px) {
        .latest {
            padding: 0 16%;
        }
    }
    .latest .newsImage {
        display: none;
    }
    .latest h2 {
        font-size: 35px;
        font-weight: bold;
        color: #000;
        margin-bottom: 40px;
        float: right;
    }
    .latest .btn-3 {
    background: #126E49;
    transition: all 0.3s ease;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 5;
    width: 155px;
    margin: auto;
    padding: 15px 0;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 13px;
    float: left;
    font-family: 'Almarai', sans-serif;
    }
    .latest .btn-3:hover {
        width: 160px;
        background: #126E49;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .latest .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        clear: both;
    }
    .latest a {
        text-decoration: none;
    }
    .latest .card {
        border-radius: 12px;
        cursor: pointer;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .3s ease-in-out;
        
    }
    .latest .card:hover {
        transform: scale(1.03);
        border-bottom: 4px solid #126E49;
    }
    .latest .card .top {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .latest .img img {
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        height: 250px;
        object-fit: cover;
        filter: brightness(90%) grayscale(10%);
    }
    .latest .info {
        padding: 10px 20px 20px 20px;
    }
    .latest .info img {
        width: 18px;
        display: inline;
        margin-left: 5px;
    }
    .latest .info h6 {
        font-size: 15px;
        color: #126E49;
        font-weight: 500;
        display: inline;
        margin-left: 5px;
    }
    .latest .info p {
        font-size: 12px;
        color: #666;
        font-weight: 300;
        display: inline;
    }
    .latest .info h3 {
        font-size: 18px;
        color: #000;
        font-weight: bold;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
    }

    @media screen and (max-width: 1200px) {
    .latest {
        padding: 50px 5% 50px 5%;
    }
    .latest .cards {
        grid-template-columns: 1fr 1fr;
    }
}

    @media screen and (max-width: 628px) {
    .latest {
        padding: 50px 5% 100px 5%;
    }
    .latest .newsImage {
        display: block;
        width: 50px;
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
    .latest h2 {
        font-size: 30px;
        text-align: center;
        float: none;
    }
    .latest .btn-3 {
        position: absolute;

        bottom: 0;
        left: 50%;
    transform: translate(-50%, 0);
    }
    .latest .cards {
        grid-template-columns: 1fr;
    }
    .latest .info h3 {

        -webkit-line-clamp: 2;
    }
    

}
</style>


<div class="latest">
    <img class="newsImage" src="{% static 'images/news.png' %}" alt="">
    <h2>آخر الأخبار المتعلقة بالنادي</h2>
    <a onclick="openLoaderPage()" hx-get="{% url 'news' %}"><button class="btn btn-3">عرض المزيد</button></a>
    <div class="cards">

        {% for obj in news|slice:"1:7" %}
        <a onclick="openLoaderPage()" hx-get="{% url 'newsDetail' obj.id %}">
            <div class="card">
                <div class="img">
                    <img src="/media/{{obj.image}}/" alt="">
                </div>
                <div class="info">
                    <div class="top">
                        <img src="{% static 'images/news.png' %}" alt="">
                        <h6>{{obj.category}}</h6>
                        <p>منذ {{obj.created_at|timesince}}</p>
                    </div>
                    <h3>{{obj.title}}</h3>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>