{% load static %}
<style>
    .players {
        padding: 0 8%;
        margin-bottom: 200px;
        position: relative;

    }
    @media screen and (min-width: 1600px) {
        .players {
            padding: 0 16%;
        }
    }
    .players img {
        width: 25px;
        margin: auto;
        display: block;
    }
    .players h2 {
        font-size: 35px;
        text-align: center;
    }
    .players .football {
        margin-top: 60px;
    }
    .players .volleyball {
        margin-top: 60px;
    }

    .players .top h3 {
        font-size: 22px;
        float: right;
    }
    .players .top .btn-3 {
    background: #C11221;
    transition: all 0.3s ease;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 5;
    width: 145px;
    margin: auto;
    padding: 15px 0;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Almarai', sans-serif;
    float: left;

    }
    .players .top .btn-3:hover {
        width: 150px;
        background: #C11221;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .players .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        clear: both;
        padding-top: 20px;
    }
    .players .card {
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }
    .players .card:hover img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        filter: grayscale(100%);

    }
    .players .card  img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        -webkit-transition: 0.4s ease;
        transition: 2s ease;
    }
    .players .card .info {
        position: absolute;
        right: 8px;
        bottom: 5px;
        padding: 10px;
        background: url("{% static 'images/red.png' %}")

    }
    .players .card .info h3 {
        font-size: 25px;
        color: #fff;
        font-weight: bold;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .players .card .info hr {
        margin: 2px 0;
        border: none;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.443);
        width: 20%;
    }
    .players .card .info p {
        font-size: 18px;
        color: #C11221;
        font-weight: bold;
    }

    .Poverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left:0; 
    right: 0;
    height: 100%;
    width: 100vw;
    background: rgba(0, 0, 0, 0.814);
    transition: opacity 50ms;
    visibility: hidden;
    opacity: 0;
    z-index: 98;
    overflow-y: auto;
    -webkit-transition: 0.2s ease-in-out, left 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, left 0.2s ease-in-out;
  }
  .Poverlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 15vh auto;
    background: #fff;
    border-radius: 10px;
    width: 50%;
    position: relative;
    transition: all 1s ease-out;
    padding: 50px 0;
    display: flex;
    align-items: center;
  }

  .Poverlay h2 {
    color: #000;
    font-weight: 600;
    font-size: 35px;
    display: inline;
    white-space: pre-line;
  }
  .Poverlay .close {
    position: absolute;
    top: 40px;
    left: 120px;
    transition: all 20ms;
    font-size: 60px;
    font-weight: 300;
    text-decoration: none;
    color: #d51f1f;
    z-index: 99;
  }
  .Poverlay .close:hover {
    color: #000;
  }
  .popup .content {
    padding: 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
    align-items: center;
}
  .popup .image img {
    width: 100%;
  }
  .popup .info h3 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .popup .info .Icolumn {
    margin-bottom: 20px;

  }
  .popup .info .Icolumn img {
    width: 20px;
    display: inline;
}
  .popup .info .Icolumn p {
    font-size: 16px;
    color: #666;
    display: inline-block;
    margin-right: 10px;

}
.popup .info .text {
    margin-top: 30px;
}
.popup .info .text p {
    font-size: 16px;
    color: #666;
    line-height: 1.8;
}


</style>

<div class="players">

    <img src="{% static 'images/Slogo.png' %}" alt="">
    <h2>قائمة اللاعبين</h2>

    <div class="football">
        <div class="top">
            <h3>الفريق الأول</h3>
            <button class="btn btn-3">باقي القائمة</button>
        </div>

        <div class="bottom">
            <a href="#showPlayer">
            <div class="card">
                <img src="{% static 'images/player1.png' %}" alt="">
                <div class="info">
                    <p>18</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            </a>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238864/PlayerProfile_Thumbnail_Mens_Rashford1691779448134.jpg" alt="">
                <div class="info">
                    <p>11</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238863/PlayerProfile_Thumbnail_Mens_Hojlund1691779649782.jpg" alt="">
                <div class="info">
                    <p>04</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
        
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238872/PlayerProfile_Thumbnail_Mens_Maguire1691779143826.jpg" alt="">
                <div class="info">
                    <p>05</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238864/PlayerProfile_Thumbnail_Mens_Rashford1691779448134.jpg" alt="">
                <div class="info">
                    <p>11</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238863/PlayerProfile_Thumbnail_Mens_Hojlund1691779649782.jpg" alt="">
                <div class="info">
                    <p>04</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238859/PlayerProfile_Thumbnail_Mens_Antony1691778373624.jpg" alt="">
                <div class="info">
                    <p>33</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238874/PlayerProfile_Thumbnail_Mens_Shaw1691779387783.jpg" alt="">
                <div class="info">
                    <p>23</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="volleyball">
        <div class="top">
            <h3>فريق الطائرة</h3>
            <button class="btn btn-3">باقي القائمة</button>
        </div>

        <div class="bottom">
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238849/PlayerProfile_Thumbnail_Mens_Scott1691779735430.jpg" alt="">
                <div class="info">
                    <p>09</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238859/PlayerProfile_Thumbnail_Mens_Antony1691778373624.jpg" alt="">
                <div class="info">
                    <p>33</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238874/PlayerProfile_Thumbnail_Mens_Shaw1691779387783.jpg" alt="">
                <div class="info">
                    <p>23</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
        
            <div class="card">
                <img src="//assets.manutd.com/AssetPicker/images/0/0/18/231/1238845/PlayerProfile_Thumbnail_Mens_Bruno1691778502502.jpg" alt="">
                <div class="info">
                    <p>17</p>
                    <hr>
                    <h3>منذر الفيتوري</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="showPlayer" class="Poverlay">
    <a class="close" href="#">&times;</a>
    <div class="popup">
        <div class="content">
            <div class="image">
                <img src="https://resources.premierleague.com/premierleague/photos/players/250x250/p437753.png" alt="">            
            </div>
            <div class="info">
                <h3>منذر الفيتوري</h3>
                <div class="Icolumn">
                    <img src="{% static 'images/number.png' %}" alt="">
                    <p>11</p>
                </div>
                <div class="Icolumn">
                    <img src="{% static 'images/position.png' %}" alt="">
                    <p>متوسط ميدان</p>
                </div>
                <div class="Icolumn">
                    <img src="{% static 'images/nationality.png' %}" alt="">
                    <p>ليبي</p>
                </div>
                <div class="Icolumn">
                    <img src="{% static 'images/contract.png' %}" alt="">
                    <p>09/11/2021</p>
                </div>
                <div class="text">
                    <p>منذر الفيتوري هو لاعب كرة قدم محترف يشغل مركز الجناح الأيمن في الفريق، انضم منذر للنادي في شهر 11 من  العام 2021 ويمتد عقده حتى الواحد من شهر يونيو لسنة 2024</p>
                </div>
            </div>
        </div>
    </div>
</div>