{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .fixtures {
        padding: 0 8%;
        position: relative;
        z-index: 4;
        margin-bottom: 150px;
    }
    @media screen and (min-width: 1600px) {
        .fixtures {
            padding: 0 16%;
        }
    }
    .fixtures h2 {
        font-size: 35px;
        font-weight: bold;
        color: #000;
        margin-bottom: 40px;
        text-align: center;
    }

    .fixtures .column {
        clear: both;
        display: grid;
        grid-template-columns: 3fr 1fr 3fr;
        gap: 50px;
    }
    .fixtures .column img {
        width: 60px;
        margin: auto;
    }
    .fixtures .column a {
        text-decoration: none;
        color: #000;
    }
    .fixtures .column .last {
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
    }
    .fixtures .column .next {
        transition: all .3s ease-in-out;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
    }
    .fixtures .last:hover {
        transform: scale(1.02);
    }
    .fixtures .next:hover {
        transform: scale(1.02);
    }
    .fixtures .column .last h3 {
        background-color: #2d2d2d;
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .fixtures .column .next h3 {
        background-color: #126E49;
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .fixtures .c {
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px 10px;
        align-items: center;
        display: grid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 280px;        
    }

    .fixtures .c .cup {
        width: 50px;
        margin: auto;
    }
    
    .fixtures h6 {
        font-size: 16px;
        color: #666;
        font-weight: 400;
    }
    .fixtures .clubs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        text-align: center;
    }
    .fixtures .away .clubs {
        direction: ltr;
    }
    .fixtures .Sclub {
        text-align: center;

    }
    .fixtures .Sclub img {
        width: 60px;
    }
    .fixtures .Vclub {
        text-align: center;
    }
    .fixtures .Vclub img {
        width: 60px;
    }
    .fixtures .vs {
        text-align: center;
    }
    .fixtures .vs h1 {
        font-size: 45px;
        font-weight: bold;
    }


    @media screen and (min-width: 628px) and (max-width: 1200px) {
    .fixtures {
        padding: 0 5%;
    }
        .fixtures .column {
        grid-template-columns: 3fr 1fr 3fr;
        gap: 10px;
    }
    .fixtures h2 {
        font-size: 30px;
    }
    .fixtures .vs h1 {
        font-size: 35px;
        }
    }

    @media screen and (max-width: 628px) {
    .fixtures {
        padding: 0 5%;
    }
        .fixtures .column {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .fixtures h2 {
        font-size: 30px;
        
    }
    }
</style>

<div class="fixtures" id="fixtures">
    <h2>جدول الفريق</h2>

    <div class="column">
        <a onclick="openLoaderPage()" hx-get="{% url 'matchDetail' lastMatch.id %}">
            <div class="last">
                <h3>الماضية</h3>
                {% if lastMatch.homeORaway == 'home' %}
                <div class="c c1">
                {% else %}
                <div class="c c1 away">
                {% endif %}
                    <h6 style="direction: ltr;" >{{lastMatch.date|date:'Y-m-d'}} & {{lastMatch.date|date:'H:i'}}</h6>    
                    <h6>{{lastMatch.stadium}}</h6>
                    <img src="/media/{{lastMatch.competition}}/" alt="" class="cup">
            
                    <div class="clubs">
                        <div class="Sclub">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </div>
                        <div class="vs">
                            {% if lastMatch.vResult == '' %}
                            <h1>VS</h1>
                            {% elif lastMatch.vResult is None %}
                            <h1>VS</h1>
                            {% else %}
                            <h1>{{lastMatch.sResult}} - {{lastMatch.vResult}}</h1>
                            {% endif %}
                        </div>
                        <div class="Vclub">
                            <img src="/media/{{lastMatch.vLogo}}/" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <img src="{% static 'images/stadium.png' %}" alt="">

        <a onclick="openLoaderPage()" hx-get="{% url 'matchDetail' nextMatch.id %}">
            <div class="next">
                <h3>القادمة</h3>
                {% if nextMatch.homeORaway == 'home' %}
                <div class="c c1">
                {% else %}
                <div class="c c1 away">
                {% endif %}
                    <h6 style="direction: ltr;" >{{nextMatch.date|date:'Y-m-d'}} & {{nextMatch.date|date:'H:i'}}</h6>    
                    <h6>{{nextMatch.stadium}}</h6>
                    <img src="/media/{{nextMatch.competition}}/" alt="" class="cup">  
                    <div class="clubs">
                        <div class="Sclub">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </div>
                        <div class="vs">
                            {% if nextMatch.vResult == '' %}
                            <h1>VS</h1>
                            {% elif nextMatch.vResult is None %}
                            <h1>VS</h1>
                            {% else %}
                            <h1>{{nextMatch.sResult}} - {{nextMatch.vResult}}</h1>
                            {% endif %}
                        </div>
                        <div class="Vclub">
                            <img src="/media/{{nextMatch.vLogo}}/" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>