{% load static %}
<style>

    .footer {
        padding: 50px 8% 20px 8%;
        background-color: #821b22;
        position: relative;
        direction: rtl;
    }
    @media screen and (min-width: 1600px) {
        .footer {
            padding: 50px 16% 20px 16%;
        }
    }
    .footer .top {
        display: grid;
        grid-template-columns: 8% 13% 70%;
        gap: 50px;
    }
    .footer .logo {

    }
    .footer .logo img {
        width: 100px;
        filter: brightness(0) invert(1);
    }

    .footer .brand .social {
        width:100%;
    }
    .footer .brand .social a {
        text-decoration: none;
    }
    .footer .brand .social .facebook {
        border-radius: 10px;
        width: auto;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

    }
    .footer .brand .social .facebook:hover img {
        filter: none;
    }
    .footer .brand .social .facebook:hover h3 {
        display: inline;
        border-bottom: 1px solid #fff;
        padding: 3px;
        
    }
    .footer .brand .social .facebook h3 {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        display: none;
        margin-right: 5px;
        direction: ltr;
    }
    .footer .brand .social .facebook img {
        width: 30px;
        display: inline;
        filter: brightness(0) invert(1);
        -webkit-transition: 0.4s ease;
        transition: 1s ease;
    }

    .footer .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .footer .links a {
        text-decoration: none;
    }
    .footer .links .page h3 {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
    }
    .footer .links .page .shorts {
        margin-top: 20px;
    }
    .footer .links .page .shorts .link {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.732);
        font-weight: 300;
        margin-bottom: 15px;
    }
    .footer .links .page .shorts .link:hover{
        color: #fff;
    }
    hr {
        background-color: rgba(255, 255, 255, 0.309);
        height: 1px;
        border: none;
        width: 100%;
        margin: 50px 0 0 0;
    }
    .footer .bottom {
        padding: 30px 0 10px 0;
        text-align: center;
    }
    .footer .bottom p {
        font-size: 16px;
        color: #fff;
        font-weight: 300;
    }
    .footer .bottom span {
        color: #d2d2d2;
        font-weight: 700;
    }






    @media screen and (max-width: 1200px) {
    .footer {
        padding: 50px 5% 20px 5%;
    }
    .footer .top {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
    }    
    .footer .brand .social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 00px;
        width: 80%;
        margin: auto;

        margin-left: 20px;
    }
    .footer .brand .social .facebook:hover h3 {
        display: none;
        
    }
    .footer .links {
        display: none;
    }
    }
</style>

<div class="footer">
    <div class="top">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
        </div>
        <div class="brand">
            <div class="social">
                <a onclick="openLoaderPage()" hx-get="">
                <div class="facebook">
                    <img src="{% static 'images/facebook.png' %}" alt="">
                    <h3>@Swehlysfc</h3>
                </div>
                </a>
    
                <a onclick="openLoaderPage()" hx-get="">
                    <div class="facebook">
                        <img src="{% static 'images/tiktok.png' %}" alt="">
                        <h3>@Swehlysfc</h3>
                    </div>
                </a>
                    
                <a onclick="openLoaderPage()" hx-get="">
                    <div class="facebook">
                        <img src="{% static 'images/instagram.png' %}" alt="">
                        <h3>@Swehlysfc</h3>
                    </div>
                </a>
                
                <a onclick="openLoaderPage()" hx-get="">
                    <div class="facebook">
                        <img src="{% static 'images/x.png' %}" alt="">
                        <h3>@Swehlysfc</h3>
                    </div>
                </a>
            </div>
    
        </div>
    
        <div class="links">
            <div class="page">
                <a onclick="openLoaderPage()" hx-get=""><h3>آخر الأخبار</h3></a>
                <div class="shorts">
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">أخبار الفريق الأول</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">أخبار الطائرة</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">أخبار الأكاديمة</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">تطورات النادي</h3></a>
                </div>
            </div>
    
            <div class="page">
                <a onclick="openLoaderPage()" hx-get=""><h3>ميديا</h3></a>
                <div class="shorts">
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">ملخصات</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">أرشيف</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">لقاءات إعلامية</h3></a>
                </div>
            </div>
    
            <div class="page">
                <a onclick="openLoaderPage()" hx-get=""><h3>الفريق</h3></a>
                <div class="shorts">
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">الفريق الأول</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">فريق الطائرة</h3></a>
                </div>
            </div>
    
            <div class="page">
                <a onclick="openLoaderPage()" hx-get=""><h3>المنافسات</h3></a>
                <div class="shorts">
                    <a onclick="openLoaderPage()" hx-get="{% url 'home' %}matchDetail/2/"><h3 class="link">المباراة الماضية</h3></a>
                    <a onclick="openLoaderPage()" hx-get="{% url 'home' %}matchDetail/1/"><h3 class="link">المباراة القادمة</h3></a>
                </div>
            </div>
    
            <div class="page">
                <a onclick="openLoaderPage()" hx-get=""><h3>عن النادي</h3></a>
                <div class="shorts">
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">نبذة تعريفية</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">الإنجازات والبطولات</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">الرؤية المستقبلية</h3></a>
                    <a onclick="openLoaderPage()" hx-get=""><h3 class="link">التواصل</h3></a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="bottom">
        <p>جميع الحقوق محفوظة 2023 - تم الإعداد بواسطة <span>منصة هوية</span></p>
    </div>
</div>