{% load static %}

<style>

    * {
        padding: 0;
        margin: 0;
    }
.navbar {
    width: 100vw;
    padding: 7px 0 1px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgba(0, 0, 0, 0);
    z-index: 98;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    overflow: hidden;
}
.navbar .Mlogo {
    padding-right: 7.5vw;
}
@media screen and (min-width: 1600px) {
    .navbar .Mlogo {
    padding-right: 15.5vw;
}

}
.navbar .Mlogo img {
    width: 60px
}
.navbar .hamburger {
    text-align: left;
    padding-left: 9vw;
}
@media screen and (min-width: 1600px) {
.navbar .hamburger {
    padding-left: 16.5vw;
}
}
.navbar .hamburger .nav-icon img {
  width: 35px;
  z-index: 56;
  cursor: pointer;

}


.full-nav {
  background: #fff;
  color: #18191d;
  position: fixed;
  left: 0;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 98;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.4s ease-in-out;
  text-align: right;
}

.full-nav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  z-index: 99;
}

.full-nav .content {
    padding: 100px 8%;
}
@media screen and (min-width: 1600px) {
    .full-nav .content {
    padding: 100px 16%;
}
}
.full-nav a {
  text-decoration: none;
}


.nav2 ul li {
  display: block;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 10px;
}

.nav2 ul li a {
  font-size: 25px;
  color: #18191d;
}

.nav2 ul li:hover {
    color: #126E49
}

.nav2 ul li:hover a,
.nav2 ul li:hover a span {
  color: #126E49;
}

.logo-title{
  font-size: 40px;
  text-decoration:none;
  color:black;
  margin-bottom: 40px;
}
 .nav-close {
    position: absolute;
    top: 27px;
    left: 8%;
    transition: all 20ms;
    font-size: 60px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
  }
  .nav-close:hover {
    color:#126E49;
  }


  @media screen and (min-width: 628px) and (max-width: 1200px) {
    .navbar .Mlogo {
    padding-right: 4.5vw;
}
.navbar .hamburger {
  padding-left: 5vw;
}
  }

  @media screen and (max-width: 628px) {
    .navbar .Mlogo {
    padding-right: 4.5vw;
}
.navbar .hamburger {
  padding-left: 5vw;
}
  }
  
</style>





<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


        <div class="navbar" >
            <div class="Mlogo">
                <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" class="MlogoImgae" alt="">
                </a>
            </div>
            <div class="hamburger">
                <a href="javascript:void(0);" id="nav-icon" class="nav-icon">
                    <img src="{% static 'images/hamburger.png' %}" class="naviconimage" alt="">
                </a>
            </div>
        </div>

   


<!-- -------------------------------------------------FULL NAVİGATİON----------------------------------------------------- -->
<div class="full-nav" id="full-nav">

    <div class="content">
        <div class="logo"><a href=""><h1 class="logo-title">الاتحاد المصراتي</h1></a></div>
        <nav class="nav2">
            <ul>
                <li><a onclick="openLoaderPage()" hx-get="{% url 'home' %}"><span></span>الرئيسية</a></li>
                <li><a onclick="openLoaderPage()" hx-get="{% url 'news' %}"><span></span>أخبار النادي</a></li>
                <li><a onclick="openLoaderPage()" hx-get="{% url 'media' %}"><span></span>ميديا الاتحاد</a></li>
                <li><a onclick="openLoaderPage()" hx-get="{% url 'players' %}"><span></span>قائمة اللاعبين</a></li>
                <li><a onclick="openLoaderPage()" hx-get="{% url 'home' %}#fixtures" id="Nlink"><span></span>المنافسات</a></li>
                <li><a onclick="openLoaderPage()" hx-get=""><span></span>عن النادي</a></li>
    
            </ul>
        </nav>
    </div>


    <a href="javascript:void(0);" class="nav-close">&times;</a>

</div>




