{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .Newsmain { 
        padding: 0 20%;
        margin-bottom: 150px;
        position: relative;
    }
    @media screen and (min-width: 1600px) {
        .Newsmain {
            padding: 0 25%;
        }
    }

    .Newsmain .heading {
        margin-bottom: 40px;
    }
    .Newsmain .heading h1 {
        font-size: 35px;
        font-weight: bold;
    }
    .Newsmain .heading h5 {
        font-size: 18px;
        font-weight: 400;
        color: #C11221;
    }

    .Newsmain .text {
        margin-bottom: 60px;
    }
    .Newsmain .text p {
        font-size: 18px;
        font-weight: 400;
        color: #666;
    }

    .Newsmain .image {}
    .Newsmain .image img {
        width: 100%;
        border-radius: 10px;
    }

    @media screen and (max-width: 1200px) {
    .Newsmain { 
        padding: 0 5%;
    }
    .Newsmain .heading h1 {
        font-size: 25px;
    }
    .Newsmain .text p {
        text-align: justify;
    }
    }

</style>


<div class="Newsmain">
    <div class="heading">
        <h5>{{news.created_at|date:'Y-m-d'}}</h5>
        <h1>{{news.title}}</h1>
    </div>

    <div class="text">
        <p>{{news.text}}</p>
    </div>

    <div class="image">
        <img src="/media/{{news.image}}/" alt="">
    </div>
</div>