{% load static %}
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .Newsmain { 
        padding: 0 20%;
        margin-bottom: 150px;
        position: relative;

    }
    @media screen and (min-width: 1600px) {
        .Newsmain {
            padding: 0 25%;
        }
    }

    .Newsmain .heading {
        margin-bottom: 60px;
    }
    .Newsmain .heading h1 {
        font-size: 35px;

        font-weight: bold;
    }
    .Newsmain .heading h5 {
        font-size: 18px;
        font-weight: 400;
        color: #C11221;
    }

    .Newsmain .text {
        margin-bottom: 60px;
    }
    .Newsmain .text p {
        font-size: 18px;
        font-weight: 400;
        color: #666;
    }

    .Newsmain .image {}
    .Newsmain .image img {
        width: 100%;
        border-radius: 10px;
        
    }

</style>


<div class="Newsmain">
    <div class="heading">
        <h5>الاثنين & 23\10\2023</h5>
        <h1>تصريحات المدرب خافيير كليمنتي في المؤتمر الصحفي قبل المواجهة المرتقبة أمام الأهلي طرابلس</h1>
    </div>

    <div class="text">
        <p>🔴🇱🇾🇲🇨 ودياً .. " السويحلي " بطل ليبيا يلتقي الترجي 🔴🇲🇨🇱🇾
            💎 مباراة ودية بمعسكر فريق السويحلي بتونس
            🔴| السويحلي  🆚  الترجي
            ‏🗓 | الاربعاء 18-10-2023م
            ‏🕘 | الساعة 19:00
            ‏🏟 | قاعة محمد الزواوي بنادي الترجي
            🤲 كل التوفيق لفريق طائرة نادينا الغالي 🤲</p>
    </div>

    <div class="image">
        <img src="https://scontent.fmji2-2.fna.fbcdn.net/v/t39.30808-6/393175056_723941199778259_5636754618666903759_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=0EbqGrYeJbMAX9e9ODv&_nc_ht=scontent.fmji2-2.fna&oh=00_AfDaigK8IPHkdf0CY33PURu-Kpa0OefyaK10xUwK-O9IAQ&oe=653C30DE" alt="">
    </div>
</div>