body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    direction: rtl;
    font-family: 'Almarai', sans-serif;
    background-color: #f6f6f6;
}
#home1 {
    width: 100%;
    overflow-x: hidden;
}
#main1 {
    width: 100%;       
    overflow-x: hidden;
}
#news1 {
    padding-top: 150px;
      width: 100%;
      overflow-x: hidden;
  }
  #media1 {
    padding-top: 150px;
      width: 100%;
      overflow-x: hidden;
  }
  #players1 {
    padding-top: 150px;
      width: 100%;
      overflow-x: hidden;
  }

  #newsD {
    padding-top: 150px;
      width: 100%;
      overflow-x: hidden;
  }
