{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>


  
    <body hx-target="this" hx-swap="outerHTML">
  <div id="forplaceholder">
    <div class="newsD" id="newsD">
        {% include 'components/navbar.html' %}
        {% include 'components/newsDetailpage_components/section1.html' %}


        {% include 'components/footer.html' %}
    </div>
  </div>
  

  </body>
</html>
{% endblock content %} 