{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
    <body hx-target="this" hx-swap="outerHTML">
  <div id="forplaceholder">
    <div class="players1" id="players1">
        {% include 'components/navbar.html' %}
        {% include 'components/playerspage_components/section1.html' %}

        {% include 'components/home_components/section6.html' %}
        {% include 'components/footer.html' %}
    </div>
  </div>

  </body>
</html>
{% endblock content %} 