{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title></title>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/htmx.org@1.5.0"
     integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
     crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200;400;600;700&family=El+Messiri:wght@500;700&family=Tajawal:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            direction: rtl;
            font-family: 'Almarai', sans-serif;
            background-color: #f6f6f6;
            padding-top: 80px;
        }
        .news {
            width: 100%;
            overflow-x: hidden;
        }

    </style>
<body hx-target="this" hx-swap="outerHTML">
    <div class="news">
        {% include 'components/navbar.html' %}
        {% include 'components/playerspage_components/section1.html' %}

        {% include 'components/home_components/section6.html' %}
        {% include 'components/footer.html' %}
    </div>

  
  <script>
    document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script>

  </body>
</html>
{% endblock content %} 